{% extends "main/base.html" %}

{% block title %}Посты{% endblock %}
{% block  content %}
    <div class="select2-container"></div>
        <h1>{{ title }}</h1>
        <div class="payload">
            <ul>
                {% for group in groups %}
                    <div class="list-group">
                          <a href="{%  url "group_show" group_id=group.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                          {{ group.name }}
                          </a>
                    </div>
                {% endfor %}
            </ul>
        </div>
{% endblock %}