{% extends 'main/base.html' %}

{% block title %}Posts{% endblock %}


{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <div class="payload">
        <ul>
            {% for group in group_list %}
            <h4>
                <a href="{% url 'group_show' group_id=group.id %}">{{ group.name }}</a>
            </h4>
            <li class="row">
                <span class="grey summary">aboba</span>
            </li>
            <hr>

            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}