{% extends "main/base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block  content %}
    {% load static %}
    <div class="select2-container"></div>
    <h1>Лекції групи {{ title }}</h1>
    <div class="payload">
        <ul>
            {% for lecture in lectures %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                      <h4>{{ lecture.title }}</h4>
                      <p class="mb-1">{{lecture.description}}</p>
                    <a href="{{ lecture.attachments }}" download>Завантажити матеріали лекції</a>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
