{% extends 'main/base.html' %}

{% block title %}Posts{% endblock %}


{% block content %}
<div class="container">
    <h1>{{ title }}</h1>

    <div class="error">
        {{ form.errors }}
    </div>
    <div class="payload">
        <form action="{% url "lecture_create" %}" method="post">
            {% csrf_token %}
            {{form.title}}
            {{form.description}}
            <br><br>
            {{form.attachments}}
            <br><br>
            {{form.group_id}}
            <br><br>
            <button class="btn btn-success">Сохранить</button>
        </form>
    </div>
</div>
{% endblock %}