{% extends "main/base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block  content %}
    {% load static %}
    <div class="select2-container"></div>
    <h1>Задачі групи {{ title }}</h1>
    <div class="payload">
        <ul>
            {% for task in tasks %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <h4><a href="{% url 'task_show' task_id=task.id %}">{{ task.title }}</a></h4>
                    <p class="mb-1">{{task.description}}</p>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
